<container>
	<row class="social-links">
		<columns>
			<center>
				<img
					src="https://ci5.googleusercontent.com/proxy/KLWDyxU_2JT5nOGTE6_NSp-hT37kpCU8B8HLih6GyBnhKJEvCDQsIeq4uLfJ7CQWsSCfpfcbCXVh74IrAuFYiXcU4R2sPN1CInMYwE7DpPIiYM9dGmBbl7FrtmeFZ6I=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png"
					alt="facebook"
				/>
				<img
					src="https://ci3.googleusercontent.com/proxy/UZmsqbR0YicV2Dut8L3zgzEo4jupJEoo_M2eyGVoTUqJ8TC_2hipkr2l-JV-uTKoVQAGjTEuVd_3mFGuOKWqoj2ji0OjjHB1ShyYPzqUidP9s75s194CW40mMOmhPw=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png"
					alt="Youtube"
				/>
				<img
					src="https://ci3.googleusercontent.com/proxy/Kxmv_VOWHxRbx9ha8NMR9nONZZkGxv2vyrUOlpQhi5_ieDBEPqRomk1Twd6kvqAcUM1ccGIxTgC8Rh1TvQcdKf-Ql5F87HSw4DKkcKIdL9Gz-WFmaHDWBrvzjPHt2CVn=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png"
					alt="instagram"
				/>
			</center>
		</columns>
	</row>
</container>
<container>
	<row class="copyright">
		<columns>
			<p>
				Copyright © 2021 Bayside Community Church, All rights reserved. Have you
				ever said, "I wish Bayside would have told me about that?" We're keeping you
				informed with these e-mails.
			</p>
		</columns>
	</row>
	<row class="mailing-address">
		<columns>
			<center>
				<span>Our mailing address is:</span>
			</center>
			<p>
				Bayside Community Church<br />
				15800 St. Rt. 64 E <br />Bradenton, FL 34212
			</p>
			<center>
				<a
					href="https://church.us8.list-manage.com/vcard?u=b06e0327a4c18425bbfdede3a&id=4e97e84abc"
					target="_blank"
				>
					Add us to your address book
				</a>
			</center>
		</columns>
	</row>
	<row class="unsubscribe">
		<columns>
			<p>
				Want to change how you receive these emails? <br />
				You can
				<a
					href="https://church.us8.list-manage.com/profile?u=b06e0327a4c18425bbfdede3a&id=4e97e84abc&e=cfe92327be&c=ae28130cdc"
					target="_blank"
					>update your preferences</a
				>
				or
				<a
					href="https://church.us8.list-manage.com/unsubscribe?u=b06e0327a4c18425bbfdede3a&id=4e97e84abc&e=cfe92327be&c=ae28130cdc"
					target="_blank"
					>unsubscribe from this list</a
				>.
			</p>
		</columns>
	</row>
</container>
